@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
@font-face {
    font-family: 'Gilroy-Regular';
    src: url('./fonts/Gilroy-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Semibold';
    src: url('./fonts/Gilroy-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Medium';
    src: url('./fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Bold';
    src: url('./fonts/Gilroy-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Heavy';
    src: url('./fonts/Gilroy-Heavy.woff') format('woff');
    font-weight: 1000;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Black';
    src: url('./fonts/Gilroy-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
#search-container {
    display: flex;
    align-items: center;
}

#search-input {
    width: 0;
    opacity: 0;
    transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

#search-container.expanded #search-input {
    width: 350px; /* Adjust for your design */
    opacity: 1;
    margin-right: 8px;
}

#search-container.expanded #search-button {
    background-color: #f3f3f3;
    border-radius: 50%;
    padding: 6px;
}
/* @media(max-width: 480px){

} */
@media(min-width: 320px){
    #user-button{
        display: none;
        }
        #wishlist-button{
        display: none;
        }
        .main-header{
            max-width: 320px;
        }
}
@media(min-width: 768px){
    #user-button{
        display: flex;
        }
        #wishlist-button{
        display: flex;
        }
        .main-header{
            max-width: 768px;
        }
}
@media (max-width: 1024px) {
    #header-pc{
        display: none;
    }
    #header-mobile{
        display: flex;
    }
    #nav-menu {
        display: none; /* Hide menu on small screens */
    }

    #menu-toggle {
        display: flex; /* Show menu button on small screens */
    }
    #sub-header{
        display: none;
    }
    .shop-logo{
        display: none;
    }
    .nav-button{
        display: none;
    }
    #hamburger-menu {
        width: 0;
        max-width: 400px;
        left: -400px; /* Start hidden */
    }
    
    #hamburger-menu.open {
        width: 400px;
        left: 0;
    }    
}

@media (min-width: 1025px) {
    #header-pc{
        display: flex;
    }
    #header-mobile{
        display: none;
    }
    #menu-toggle {
        display: none; /* Hide menu button on large screens */
    }

    #nav-menu {
        display: flex; /* Show navigation links */
    }
    #sub-header{
        display: flex;
    }
    .shop-logo{
        display: flex;
    }
    .nav-button{
        display: flex;
    }
}

/* Add padding to scrollbar track */
.product-container::-webkit-scrollbar {
    height: 8px;
    border-radius: 9999px;
}

.product-container::-webkit-scrollbar-thumb {
    background-color: #5DB075; /* Green handlebar */
    border-radius: 9999px;
}

.product-container::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* Light gray track */
    border-radius: 9999px;
    margin-top: 20px; /* Adds space above and below the scrollbar */
}
.dot-wrapper {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.placeholder-dot {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.product-name {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
    max-height: 40px;
}
.dot-wrapper.selected::after {
    content: '';
    position: absolute;
    width: 1.75rem; /* Slightly larger than the dot */
    height: 1.75rem; /* Slightly larger than the dot */
    background: none;
    border: 1px solid #5DB075; /* Green border */
    border-radius: 50%;
}
/* Popups */
.hidden {
    display: none;
}

.auth-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tab-content.hidden {
    display: none;
}
/* Hidden state */
.hidden {
    display: none;
}

/* Show popup container */
#popup-container.active {
    display: flex;
}

.popup-content {
    position: relative;
    /* width: 100%; */
    max-width: 400px;
    padding: 20px;
}
#user-dropdown {
    min-width: 200px;
    z-index: 3;
}
#user-dropdown ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}
@theme{
    --breakpoint-sm: 320px;
}
